*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins,sans-serif';
}
.navbar{
    display: flex;
    align-items: center;
    padding: 15px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
.menu-bar
{
    background: rgb(164, 204, 163);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: blue;
}
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: darkviolet;
}
.active, .menu-bar ul li:hover
{
    background: #2bad2b;
    border-radius: 3px;
}
.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background:rgb(164, 204,163);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
   width: 150px;
   padding: 10px;
   border-bottom:1px dotted #fff;
   background: transparent;
   border-radius: 0;
   text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: #641664;
}
.fa-angle-right
{
    float: right;
}
.sub-menu-2
{
    display: none;
}
.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 120px;
    background: #94e094;
}





.container{
    max-width: 1300px;
    margin: auto;                           
    padding-left: 25px;
    padding-right: 25px;
} 
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.header{
    background: radial-gradient(#ff0000,#ffd6d6);
}
.header .row{
    margin-top: 70px;
}
